.infinity-logo {
  display: inline-block;
  line-height: 0;

  // Size variants
  &--sm {
    width: 32px;
    height: auto;
  }

  &--md {
    width: 48px;
    height: auto;
  }

  &--lg {
    width: 80px;
    height: auto;
  }

  &--xl {
    width: 120px;
    height: auto;
  }

  &--splash {
    width: 200px;
    height: auto;
  }
}

.infinity-logo-svg {
  width: 100%;
  height: auto;
  display: block;
  overflow: visible;
}

// All elements fade in when ready
.infinity-logo-white-base,
.infinity-logo-color-seg,
.infinity-logo-crossover,
.infinity-logo-icon-group {
  opacity: 0;
  transition: opacity 0.4s ease;

  .infinity-logo--on & {
    opacity: 1;
  }
}
