@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.bm-layout-wrapper {
  min-height: 100vh;
  background: var(--color-background-secondary);
}

.bm-main-area {
  min-height: 100vh;
  transition: margin-left 0.2s ease;
  padding: 10px;
  padding-top: 58px;
}

.bm-page-container {
  min-height: calc(100vh - 48px);
  @include custom-scrollbar;
}

body.dark-mode {
  .bm-layout-wrapper {
    background: var(--color-background);
  }
}
